@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Thin.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Light.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 400;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 500;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 900;
  src: local('NotoSansKR'), url('../fonts/NotoSansKR-Black.otf');
}


* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "NotoSansKR";
  font-size: 16px;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  right: 0;
  z-index: 2;
  background: white;
  transition: 0.4s;
}

.rap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 */
.header {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background: white;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

}

.header .logo {
  width: 150px;
}

.header .menu {
  font-size: 1.125em;
}

.header .menu a {
  padding: 0 20px;
}


/* 메인페이지-배너 */
.banner {
  width: 100%;
  height: 900px;
  position: relative;
}

.banner.sub {
  height: 350px;
  text-align: center;
}

.banner .slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sub.banner .slide {
  padding: 30px;
}

.banner .slide > div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(45%);
}

.banner .slide > div:nth-child(1) {
  background-image: url('../images/banner2.png');
}

.banner .title {
  position: absolute;
  bottom: 180px;
  left: 50%;
  color: white;
  transform: translateX(-50%);
}

.sub.banner .title {
  bottom: 50px;
}

.banner h2 {
  font-size: 1.875em;
  font-weight: 100;
  margin-bottom: 8px;
}

.banner span {
  display: inline-block;
  position: relative;
}

.banner span:before {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -6px);
}

.banner .sp {
  margin-right: 10px;
}

.banner h1 {
  font-size: 4em;
}

.banner .title div {
  font-style: italic;
  font-weight: 100;
  font-size: 1.25em;
  padding-top: 24px;
}

.banner p {
  font-size: 1.5em;
  margin-bottom: -4px;
}

.banner p:before {
  margin-bottom: 24px;
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  background: white;
}

/* home-container */
.home-container {
  position: relative;
  width: 100%;
  transform: translateY(-50%);
}

.home-container:before,
.home-container:after {
  content: '';
  display: block;
  width: 50%;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -8999;
}

.home-container:before {
  /* background: #746d6a; */
  left: 0;
}

.home-container:after {
  /* background: #c49555; */
  right: 0;
}

.menubox {
  display: flex;
}

.menubox > a {
  width: 33.333%;
  height: 100%;
  padding: 40px 50px;
  color: white;
}

.menubox > a:nth-child(1) {
  background: #907354;
}

.menubox > a:nth-child(2) {
  background: #434343;
}

.menubox > a:nth-child(3) {
  background: #deaf6c;
}

.menubox h2 {
  font-size: 1.25em;
  font-weight: 400;
}

.container-title {
  text-align: center;
  padding: 60px 0;
}

.container-title p {
  font-size: 1.125em;
  color: #999;
  font-weight: 300;
  margin-bottom: -6px;
}

.container-title h2 {
  font-size: 30px;
  font-weight: 500;
}

/* 마을소개 */
.info-container {
}

.info-container img {
  width: 100%;
  object-fit: cover;
}

.info-3 {
  display: flex;
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  margin-bottom: 60px;
  margin-top: 70px;
}

.info-3 img {
  width: 45%;
  box-shadow: 5px 5px 20px rgba(0,0,0,.2);
}

.info-3 > div {
  width: 55%;
  padding-left: 40px;
}

.info-3 > div > div {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 13px 0;
  font-size: 16px;
}

.info-3 > div > div:last-child {
  border-bottom: none;
}

.info-3 > div h2 {
  font-size: 14px;
  font-weight: 300;
  color: #bc9f77;
}

.info-3 > div p {
  font-size: 20px;
  font-weight: 500;
  color: #555;
  font-weight: 300;
}

.info-4 > p {
  padding: 2em 0;
  font-size: 1.4em;
  line-height: 1.9em;
  text-align: center;
  font-weight: 100;
}

.info-4 > p b {
  font-weight: 400;
}

h2.number {
  text-align: center;
  font-size: 5em;
  font-weight: 900;
  position: relative;
  /* color: #bc9f77; */
}

h2.number:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 100px;
  background: #bc9f77;
  margin-top: 20px;
}

.info-1_title h2,
.info-2_title h2,
.info-3_title h2 {
  color: white;
  padding-top: 50px;
}

.info-1_title h2:before,
.info-2_title h2:before,
.info-3_title h2:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 80%;
  background: url('../images/banner1.png');
  background-position: 0 70%;
  background-size: cover;
  top: 0;
  z-index: -10;
  filter: brightness(50%);
}

.info-2_title {
  margin-top: 80px;
}

.info-2_title h2:before {
  background: url('../images/DSC_1538.jpg');
  background-position: 0 50%;
}

.info-3_title {
  margin-top: 80px;
}

.info-3_title h2:before {
  background: url('../images/DSC_1570.jpg');
  background-position: 0 65%;
}

footer {
  border-top: 1px solid #999;
  padding-bottom: 40px;
}

footer > div {
  display: flex;
  justify-content: space-between;
}

footer a {
  width: 150px;
}

footer a img {
  width: 100%;
}

footer ul {
  display: flex;
  align-items: flex-end;
}

footer li {
  position: relative;
}

footer li:not(:last-child) {
  padding-right: 8px;
}

footer li:not(:first-child) {
  padding-left: 8px;
}

footer li:not(:last-child):after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 12px;
  background: black
}


.mobile {
  display: none;
}

.sidebar {
  font-size: 16px;
  position: fixed;
  right: 0;
  top: 0;
  width: 60vw;
  height: 100vh;
  background: #f5b762;
  color:white;
  font-weight: 200;
}

.sidebar-rap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.sidebar-rap > ul > .first {
  padding-top: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.417);
}

.sidebar-rap > ul > li {
  padding: 12px;
  padding-top: 0;
}

.sidebar-rap > ul > li > ul {
  padding: 14px 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.417);
}

.sidebar-rap > ul > li > ul > li.first {
  font-weight: 400;
  font-size: 1.2em;
}
.sidebar-rap > ul > li > ul > li:not(.first) {
  padding-left: 6px;
  padding-bottom: 4px;
}

body.isSide {
  overflow-y: hidden;
}
body.isSide .container {
  right: 60vw;
}

.slide {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;

}
.swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (max-width: 460px) {
  .banner .title {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 10px;
  }
  .banner .title.rap {
    bottom: 370px;
    max-width: calc(100% - 20px);
  }

  .mobile {
    display: flex;
  }

  .header > a {
    height: 100%;
    padding: 5px 0;
  }
  .header .logo {
    width: auto;
    height: 100%;
  }

  .header {
    height: 70px;
    top: 0px;
    justify-content: center;
  }

  .header .menu {
    display: none;
  }

  .mobile-menu {
    padding: 10px;  
    position: absolute;
    right: 14px;
    flex-direction: column;
  }
  
  .mobile-menu > div {
    width: 22px;
    height: 2px;
    background: black;
  }
  .mobile-menu > div:not(:last-child) {
    margin-bottom: 5px;
  }

  .home-container {
    position: absolute;
    transform: translateY(-100%);
  }

  .banner {
    height: 700px;
  }

  .menubox {
    flex-direction: column;
  }
  .menubox > a {
    width: 100%;
    padding: 18px 20px;
    font-size: 13px;
  }

  footer {
    padding-bottom: 0;
  }

  footer > div {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  footer > div a {
    display: none;
    padding-bottom: 12px;
  }

  footer ul {
    flex-wrap: wrap;
  }
}