.header {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background: white;
  position: absolute;
  top: 50px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

  .logo {
    width: 170px;
  }

  .menu {
    font-size: 18px;
  }
}